body {
  font-family: filson-pro, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgba(228, 238, 216, 0.8);
  color: #231E1D;

}

.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 400px 170px 300px;
        /*grid-template-rows: auto;*/
        grid-auto-rows: 300px;
        grid-gap: 20px;
}

.grid div {
            border-top: 5px solid #fff;
            padding: 5px;
            color: rgb(41, 51, 53);
}

h1 {
  font-family: filson-pro, Helvetica, sans-serif;
  font-size: 60px;
  color: rgba(244, 159, 38, 0.9);

}
h2 {
  margin-top: 5px;
  font-family: filson-pro, Helvetica, sans-serif;
  font-size: 40px;
    color: #BDAEAB;
}

a {
  text-decoration: none;
  color: #8C7876;
}

a:hover {
  color: #A89C99;
}

a:active {
  color: black;
}

/* a:visited {
  color: #B7DCB0;
} */

#header {
  grid-column-start: 1;
  grid-column-end: 2;

  border: none;
}

#subhead {
  grid-column-start: 2;
  grid-column-end: 3;

  border: none;
}

#subhead p {
  margin-top: 85px;
}

#contact {
  grid-column-start: 3;
  grid-column-end: 4;

  border: none;
}

#contact address ul{
  list-style: none;
  text-align: right;
  margin-top: 50px;
  padding-right: 10px;
}

#image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;

  /*overflow: hidden;*/
}

#image img {
  height: 375px;
  margin-top: 10px;
  overflow: hidden;
  border: 5px solid #fff;
}

#objective {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3;
}

#experience {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 4;
}
#experience p {
  font-size: 20px;
}

#experience a {
  font-size: 25px;
}

#experience h2 {
  margin-bottom: 60px;
}
  #orange-umbrella,
  #distraction {
    margin-bottom: 60px;
  }

#education {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 4;
}

#skills {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 4;
}
#assets {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 4;
}

#container {
  border-bottom: 5px solid #fff;
}
